.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1200;
}

.modal {
    width: 982px;
    height: 720px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;    
}

.modalHeader{
    display: flex;
    width: 902px;
    justify-content: space-between;
}

/* .modalClose {
    display: flex;
    align-items: center;
    justify-content: center; 
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--button-second-color);
    fill: #000000;
    transition: background-color var(--transition-parameters), fill var(--transition-parameters);
} */