.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  width: 982px;
  height: 720px;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  overflow-y: scroll;
  color: var(--black);
}

.modalHeader {
  display: flex;
  width: 902px;
  justify-content: space-between;
}

.modalTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: var(--black);
}

.starImage {
  fill: var(--yellow);
  margin-right: 4px;
}

.locationImage {
  fill: white;
  stroke: var(--black);
  margin-right: 4px;
}

.camperPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 24px;
}

.camperDescription {
  color: var(--grey);
  line-height: 1.5;
  margin-top: 24px;
  margin-bottom: 44px;
}

.ratingUnderline {
  text-decoration: underline;
  margin-right: 16px;
}

.ratingLocationContainer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 8px;
}

.camperPicturesContainer {
  display: flex;
  width: 100%;
  column-gap: 16px;
}

.camperPicture {
  /* width: calc((100% - 32px) / 3); */
  width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
}

.switchButtonsContainer {
  display: flex;
  column-gap: 40px;
  list-style: none;
}

.switchButton {
  background-color: white;
  padding: 0;
  border: none;
  outline: none;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  cursor: pointer;
}

.switchButton:hover {
  color: var(--red-hover);
}

/* .switchButton:focus {
  position: relative;
}

.switchButton:focus::after {
  position: absolute;
  left: 0px;
  top: 40px;
  content: "";
  width: 100px;
  height: 4px;
  background-color: red;
} */

.isActive {
  position: relative;
}

.isActive::after {
  content: "";
  position: absolute;
  display: block;
  width: 160px;
  height: 40px;
  top: 40px;
  background-color: red;
}

.featuresReviewsContainer {
  display: flex;
}

.closeImage {
  stroke: var(--black);
}

.modalClose {
  border: none;
  cursor: pointer;
  background-color: white;
}